<!DOCTYPE html>
<html lang="ru">

<head>
  {{>head}}
</head>

<body>
  <div class="wrapper">
    {{>header}}
    <div class="about">
      <p>Здесь я собираю лучшие на мой вкус афоризмы. Aфоризм - это житейская мудрость, краткая, емкая, законченная
        мысль, которая при должном употреблении может
        произвести
        здвиг в сознании. При чтении, не всегда, но может произойти что-то типа микро-озарения в той или иной области,
        на что и направлен их основной смысл. Начав систематически перепрошивать свое подсознание афоризмами, в
        короткий срок будет наблюдаться трансформация личности. Можно сказать постепенное оздаровление личности, что в
        итоге
        приведет в более светлым и чистым мыслям.
        А как извество, что мыслим то чувствуем, что чувствуем то и проживаем. Все что требуется от вас это начать
        систематически читать, перечитывать афоризмы. Так-же можно
        читать с помощью "генератора случайных афоризмов". Главное ежедневно уделять этому немного времени, хотя бы по
        5-10
        мин в день, будут происходит микро-озарения что повлечет более свежий взгляд на мир и вещи в нем. Приятных
        озарений...</p>
    </div>

    <div class="aphorisms-header">
      <h2>Фильтр</h2>

      <div class="filter-block">
        <select id="filter-by-categories">
          {{#each aphorisms.categories}}
          <option value={{this.machineName}}>{{this.name}}</option>
          {{/each}}
        </select>
        <select id="filter-by-topic">
          <option value="философы, мыслители">Мыслители, философы</option>
          <option value="Карлос кастанеда">Карлос кастанеда</option>
        </select>
        <select id="filter-by-author">
          <option value="философы, мыслители">Ушинский</option>
          <option value="Карлос кастанеда">Толстой</option>
          <option value="Карлос кастанеда">Чехов</option>
        </select>
        <input type="button" class="shuffle-button" value="Перемешать">
      </div>
    </div>

    <section class="aphorisms-container">
      {{#each aphorisms}}
      <div class="aphorisms-item">
        <div class="aphorisms-item-top">
          <h2>{{this.author}}</h2>
        </div>

        <div class="aphorisms-item-body">
          <p>{{this.body}}</p>
        </div>
        <div class="aphorisms-tags">
          {{!-- {{#each aphorisms.tags}}
          <span>{{../this.name}}</span>
          <span>{{../this.author}}</span>
          {{/each}} --}}
        </div>
      </div>
      {{/each}}
      {{!-- <div class="aphorisms-all">
        <a href="#">Читать все афоризмы...</a>
      </div> --}}
    </section>

  </div>
  {{>footer}}
</body>

</html>