<!DOCTYPE html>
<html lang="ru">

<head>
  {{>head}}
</head>

<body>
  <div class="bg"></div>
  <div class="wrapper">
    {{>header}}
    <h1>
      {{#if mainPage.headerH1}}
      {{mainPage.headerH1}}
      {{else}}
      Личностная трансформация
      {{/if}}
    </h1>

    <div class="header-text">
      {{#if mainPage.headerText}}
      <p>{{mainPage.headerText}}</p>
      {{else}}
      <p>Если ты жаждешь глубинной трансформации, этот ресурс поможет тебе. Раз ты здесь, значит,
        готов к переменам и
        открыт для нового.
        Рост счастья и состояние наполненности от простого бытия меняет даже мрачную реальность. Сама возможность Быть
        уже является большим чудом и счастьем. Постигшему эту истину раскрывается мир неограниченных возможностей.
        Хоть на секунду притормози и пристально посмотри на того, кто задыхается в серой реальности, кто не находит
        себя
        в этом мире. Может, это вовсе не ты? Давай вместе попробуем заглянуть внутрь измученной оболочки, стать ближе
        к
        лучшей версии тебя.
        В каждом разделе мы собираем то, что способно изменить любого, кто к этому стремится. Дать ответ на нужный
        вопрос, заставить задуматься или просто вдохновить на новый день.
        Читай, размышляй и используй то, что тебе подойдет. Удачи!</p>
      {{/if}}
    </div>

    <section class="aphorisms-container aphorisms-container-main">
      {{!-- <h2>Афоризмы</h2> --}}
      {{#each aphorisms as |item index| }}

      <div class="aphorisms-item">
        <div class="aphorisms-tags">
          {{#each this.tags}}
          <span>{{this.name}}</span>
          {{/each}}
        </div>
        <div class="aphorisms-item-body">
          <p>{{this.body}}</p>
        </div>
        <div class="aphorisms-item-bottom">
          <div class="aphorisms-authors">
            <span>{{this.author}}</span>
          </div>
          <div class="aphorisms-icons">
            <i name={{index}} id="fa-clone" class="fa fa-clone" aria-hidden="true"></i>
            <i name={{index}} id="fa-share" class="fa fa-share-alt" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      {{/each}}

      <a href="/aphorisms" type="button" class="more-button">Больше...</a>
    </section>
  </div>
  {{>footer}}
</body>

</html>